*{
    padding: 0;
    margin: 0;
}




#par1{
    margin-top: 30px;
    display: grid;
    width: 450px;
    height: 350px;
    border: 2px solid blue;
    gap: 10px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
}
#par1 > div{
    padding: 10px;
    border: 2px solid blueviolet;
    grid-column: auto;
    grid-row: auto;
}








#par2{
    margin-top: 30px;
    display: grid;
    width: 300px;
    border: 2px solid blue;
    gap: 10px 5% ;
    grid-template-columns: repeat(2, 100px) 200px 400px;
    grid-template-rows: repeat(4, 100px);
}

#par2 > div{
    padding: 10px;
    border: 2px solid blueviolet;
}







#par3{
    margin-top: 30px;
    display: grid;
    width: 300px;
    border: 2px solid blue;
    gap: 10px;
    row-gap: 25%;
    grid-template-columns: repeat(4, 100px);
}

#par3 > div{
    padding: 10px;
    border: 2px solid blueviolet;
}

