
h1 {
    text-indent: 50px;
    font: bold italic 40px/60px Arial;
    text-decoration: line-through;
}

#span1{
    font: 13px/20px "Times New Roman";
    text-decoration: overline;
}

#ppp {
    width: 300px;
    color: red;
    font: bold 40px Arial;
    text-indent: 50px;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: red;
}