#text{
    border: 2px solid red;
    padding: 20px;
    width: 200px;
    height: auto;
}

#text2{
    margin-top: 100px;
    border: 2px solid rgb(107, 163, 92);
    padding: 20px;
    width: 500px;
    height: auto;
}

#text3{
    margin-top: 100px;
    border: 2px solid red;
    padding: 70px;
    width: 200px;
    height: auto;
}

#text4{
    margin-top: 100px;
    border: 2px solid red;
    padding-top:    20px; /* сверху */
	padding-right:  30px; /* справа */
	padding-bottom: 50px; /* снизу */
	padding-left:   30px; /* слева */
    width: 200px;
    height: auto;
}






